.popup-wrapper{
    text-align: left;
}
.title{
    margin-top: 25px;
    margin-bottom: 20px;
}
.popup-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}
.popup-item img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}