.content-container{
    min-height: 600px;
}
.account-wrapper{
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid #DEDEDE;
    border-radius: 15px;
}
.title{
    margin-bottom: 25px;
}
.about-item{
    margin-bottom: 15px;
    display: flex;
}
.about-item p:first-child{
    margin-right: 25px;
    width: 100px;
}
.country-container{
    display: flex;
    align-items: center;
}
.country-container p{
    margin-left: 10px;
}
.about-item p:first-child{
    color: #7B7B7B;
}

.courses-wrapper,
.projects-wrapper{
    display: inline-flex;
    flex-wrap: wrap;
}
.projects-wrapper{
    margin-bottom: 130px;
}
.courses-item{
    max-width: 240px;
    margin-right: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
}
.courses-image{
    width: 100%;
    height: 150px;
}
.courses-content{
    border-radius: 0 0 20px 20px;
    border: 1px solid #DEDEDE;
    padding: 15px;
    padding-bottom: 25px;
    border-top: none;
}
.courses-desc{
    max-width: 155px;
    height: 55px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #7B7B7B;
}

.projects-item{
    max-width: 335px;
    margin-right: 25px;
    margin-bottom: 185px;
    position: relative;
}
.projects-content{
    position: absolute;
    top: 128px;
    right: 0;
    left: 0;
    border: 1px solid #DEDEDE;
    border-radius: 0 0 20px 20px;
    padding: 15px;
    padding-bottom: 25px;
    border-top: none;
    padding-top: 50px;
}
.projects-desc{
    display: inline-flex;
    margin-bottom: 25px;
    margin-top: 5px;
    color: #A4A4A4;
}
.projects-desc p:first-child{
    margin-right: 15px;
    padding-right: 10px;
    border-right: 2px solid #c3c3c3;
}


.wallets-wrapper{
    padding: 25px;
    border: 1px solid #DEDEDE;
    border-radius: 15px;
}
.wallet-btn{
    margin-top: 25px;
}
.wallets-item{
    margin-bottom: 15px;
    display: flex;
}
.wallets-item img{
    width: 20px;
    height: 20px;
}
.wallets-item p{
    margin-left: 5px;
    color: #7B7B7B;
}
.wallet-btn::before{
    background-image: url('/public/assets/img/icons/plus-circle.png');
}
.progress-bar-wrapper{
    margin-bottom: 25px;
}